* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("./assets/oakbackground.jpg");
  background-size: cover;
  perspective: 2000px;
}

.container {
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  min-height: 500px;
  height: 50vh;
  width: 35rem;
  box-shadow: 0 20px 20px rgb(0, 0, 0, 0.2), 0 0 20px rgb(0, 0, 0, 0.2);
  border-radius: 30px;
  padding: 2rem 5rem;
  background: rgba(250, 250, 250, 0.9);
  transform-style: preserve-3d;
  transition: all 0.8s ease-in-out;
  z-index: 1;
}

.card-front,
.card-back {
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  position: absolute;
  left: 10%;
  width: 80%;
  height: 100%;
  overflow: auto;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25%;
}

.image-container img {
  width: 8rem;
  height: 8rem;
  border-radius: 100px;
}

.info-container {
  margin: 2rem 0;
  height: 50%;
}

.contact-icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 30%;
}

.icon {
  width: 50px;
  height: 50px;
  transition: all 0.75s ease-out;
}

h1 {
  font-size: 20px;
}

h3 {
  font-size: 12px;
}

p {
  font-size: 10px;
  font-weight: 200;
  margin: 1rem 0;
}

.card-back {
  transform: rotateY(180deg);
  max-height: 90%;
}

.project-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.project-icon {
  width: 50px;
}

.project-description {
  padding-right: 1rem;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
  max-height: 300px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: none;
}

@media only screen and (min-width: 768px) {
  .card {
    min-height: 500px;
    max-height: 1000px;
    height: 80vh;
    width: 45vh;
    max-width: 560px;
  }

  h1 {
    font-size: 24px;
  }

  h3 {
    font-size: 16px;
  }

  p {
    font-size: 12px;
    font-weight: 300;
    margin: 1rem 0;
  }
}

@media only screen and (min-width: 1200px) {
  .card {
    min-height: 500px;
    max-height: 1285px;
    height: 80vh;
    width: 45vh;
    max-width: 723px;
  }
}
